body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 0.8rem;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.main__content {
  display: flex;
}

.movie__card {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #15183a;
  border-radius: 0.5rem;
}

.movie__img {
width: 16rem;
height: 24rem;
margin-top: 2rem;
} 
