body {
  background-color: #1a191f;
  color: #fff;
  font-family: "Open Sans ", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  line-height: 0.8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header start */
header {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3, 75rem;
}

.header__nav a {
  text-decoration: none;
  color: #fff;
}

.header__nav li {
  list-style-type: none;
}

.header__logo {
  font-size: 2rem;
}

.header__search {
  display: flex;
  align-items: center;
  border: 2px solid #15183a;
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
}
/* header end */

/* main start */
.movie__cards {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie__card {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  position: relative;
}

.movie__img {
  width: 16rem;
  height: 24rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.movie__title {
  margin-bottom: 0.5rem;
}

.movie__category {
  font-size: 0.875rem;
  color: #cfbe26;
}

.movie__average {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  right: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.875rem;
  background-color: #1a191f;
}

.favorite {
  width: 2rem;
  height: 2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" red, "wght" 400, "GRAD" 0, "opsz" 24;
  background-color: aqua;
}

.movie__average-green {
  border: 2px solid green;
}
.movie__average-orange {
  border: 2px solid orange;
}
.movie__average-red {
  border: 2px solid red;
}
/* main end */

.favorite__heart-white {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  fill: rgb(255, 255, 255);
}

.favorite__heart-red {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  fill: red;
}

@media screen and (max-width: 768px) {
  .header__nav {
    flex-direction: column;
    height: 10rem;
  }
  
}